* {
    font-family: "Quicksand";
    margin: 0;
    scroll-behavior: smooth;
}


/* .background {
    background-image: url("../public/homepage/banner.jpg");
    max-width: 1440px;
    height: 650px;
    background-size: cover;
} */

.swiper {
    height: 250px;
    width: 100%;
    border-radius: 8px;
    margin-top: 30px;
}

.swiper-slide {
    height: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@tailwind base;
@tailwind components;
@tailwind utilities;